<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sletter</title>
    <script src="static/aes.js"></script>
    <link rel="stylesheet" href="static/chat.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <script src="static/sha256.js"></script>

</head>

<body>
    <center>
        <h1 class="change" style="font-size: 350%;">Sign in</h1>
    </center>
    <br>
    <form action="" method="post">

        <center>
            <h1>ID:</h1>
        </center>
        <center><input placeholder="enter your ID" class="input" name="id" type="text" maxlength='20'></center>
        <center><p id='noen' style="color: red;"><b>ID already exists.</b></p></center>
        <center>
            <h1>PW:</h1>
        </center>
        <center><input placeholder="enter your PW" class="input" name="pw" type="password"></center>
        <center>
            <h1 class="change">Check PW:</h1>
        </center>
        <center><input placeholder="enter your PW" class="input" name="cpw" type="password"></center>
        <br id="br">
        <center><input onclick="go();" class="change" id="submit" type="button" value="submit"></center>
                <input name="pww" type="password" style="display: none;">
        <input id="sub" type="submit">
    </form>
    <center><a href="login">
            <h3><b id="en">Go to sign in</b></h3>
        </a></center>
    <style>
        #sub {
            display: none;
        }

        #submit {
            font-size: 250%;
            border-radius: 15px;
        }

        .input {
            border-radius: 15px;
            border: 0;
            width: 70%;
            font-size: 200%;
        }
    </style>
    <script>
        var wrong = {{ wrong }};
        $("#noen").hide();
        $("#noen2").hide();
        
        
        lan = 0;
        paassword = "123456123456789picture1password1123456781111112222223333334444445555556666667777778888889999990000001231231234567890senhaqwertyabc123Million2iloveyouaaron431password1qqww1122omgpop1233211232123654321qwertyuiopqazwsxedcrfvtgbyhnujmikolpqpalzm1234"
        window.onkeydown = (e) => { if (event.keyCode == '13') { event.preventDefault(); go(); } }
        async function go() {
            var id = document.getElementsByName("id")[0].value;
            var pw = document.getElementsByName("pw")[0].value;
            var cpw = document.getElementsByName("cpw")[0].value;
            if (pw == cpw) {
                if (pw.length > 5) {
                    if (id != pw) {
                        if (paassword.includes(pw)) {
                            alert("Password must not be easy.");
                        } else {
                            function goo() {
                                //"This encryption is merely for leakage prevention, and encryption within the server is performed as well."
                                document.getElementsByName("pww")[0].value = sha256(document.getElementsByName("pw")[0].value)
                            }
                            await goo();
                            document.getElementsByName("pw")[0].value = "";
                            $("#sub").trigger("click");

                        }
                    } else {
                        alert("ID and password must not be the same.");
                    }
                } else {
                    alert("Password must be at least 6 characters long.");
                }
            } else {
                alert("Passwords do not match.");
            }
        }
        
if (wrong == 0) {
    $("#noen").show();
} else if (wrong==1){
    $("#noen2").show();
}

        if (screen.width < 800) {
            $("br").hide();
            $("#br").show();
        }
    </script>
</body>

</html>